.bg-teal {
    background-color: #158aa2!important;
  }
  
  .card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  table {
    font-size: 0.95rem;
  }
  
  .badge {
    font-size: 0.85rem;
    padding: 0.4em 0.6em;
  }
  
  