.bg-container {
  background-image: url('/images/fondo_login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* Asegura que el ::before se posicione relativamente a este */
  z-index: 0;
}

/* Fondo oscuro con z-index detrás */
.bg-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1; /* 👈 Esta línea es la clave */
}

.card {
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25); /* Más transparencia */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.bg-teal {
  background-color: #158aa2!important;
}
