.custom-navbar {
    background-color: #158aa2; // verde azulado
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
    .toggle-btn {
      background: transparent;
      border: none;
      color: #ffffff;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    .navbar-brand {
      font-size: 1.25rem;
      text-transform: uppercase;
    }
  }
  