<div class="d-flex" style="min-height: 100vh;">
  <app-admin-sidebar *ngIf="isSidebarOpen"></app-admin-sidebar>

  <div 
    class="d-flex flex-column flex-grow-1" 
    [ngStyle]="{ 'margin-left': isSidebarOpen ? '250px' : '0' }"
  >
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>

    <!-- Main con flex-grow para ocupar el espacio -->
    <main class="flex-grow-1 p-3">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer siempre abajo -->
    <app-footer></app-footer>
  </div>
</div>
