<div class="layout-wrapper">
  <!-- Header del sitio -->
  <app-header></app-header>
  
  <div class="layout-body">
    <!-- Sidebar con la directiva para su visibilidad -->
    <app-sidebar></app-sidebar>
    
    <!-- Contenido principal que se ajusta según el estado del sidebar -->
    <div class="content-wrapper" [class.expanded]="!(sidebarService.sidebarVisible$ | async)">
      <div class="container-fluid p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>