<nav class="sidebar" [class.closed]="!isOpen">
  <div class="sidebar-header d-flex flex-column align-items-center justify-content-center py-3">
    <img src="/images/logo_rt.png" alt="Logo" style="max-height: 50px;" class="mb-2" />
    <span class="h5 mb-0">Funcionarios Panel</span>
  </div>

  <ul class="nav flex-column px-3">
    <li class="nav-item my-1">
      <a routerLink="/funcionarios/home" routerLinkActive="active" class="nav-link">
        <i class="bi bi-speedometer me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item my-1">
      <a routerLink="/funcionarios/reportes" routerLinkActive="active" class="nav-link">
        <i class="bi bi-person-badge me-2"></i> Reportes
      </a>
    </li>
    <li class="nav-item my-1">
      <a routerLink="/funcionarios/reportes" class="nav-link">
        <i class="bi bi-person-lines-fill me-2"></i> Documentos
      </a>
    </li>
  </ul>
</nav>
